@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.class {
    font-size: 12px;
    padding-top: 20px;
    margin: 10px 10px;
    border-color: white;
    border-radius: 25px;
    font-family: Montserrat;
    color: white;
    width: auto;
    height: auto;
    min-height: 20vh;
    min-width: 20vw;
    align-content: center;
    background-image: linear-gradient(45deg, #3a4547, #2790d6);
    background-color: #9bacb8;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

/* .class:hover {
    transform: scale(0.99);
    border: 2px solid #00c6ff;
} */

.information {
    padding: 10px;
    display: grid;
}


.class-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}

.class-titles-p {
    color: #2e8cff;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.class-info-p {
    padding-top: 5px;
    padding-bottom: 5px;
    word-spacing: 2px;
}

.class:before {
    content: '';
    background: linear-gradient(-45deg, #00c6ff, #0072ff, #00c6ff, #0072ff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.class:active {
    color: rgb(255, 255, 255)
}

.class:hover:before {
    opacity: 1;
}

.class:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3f546f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}