@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.class {
    font-size: 12px;
    padding-top: 20px;
    margin: 10px 10px;
    border-color: white;
    border-radius: 25px;
    font-family: Montserrat;
    color: white;
    width: auto;
    height: auto;
    min-height: 20vh;
    min-width: 20vw;
    /* place-items: start; */
    background-color: black;
    background-image: linear-gradient(45deg, #282f31, #2790d6);
    /*#2790d6  */

}

.class:hover {
    transform: scale(0.99);
    border: 2px solid #00c6ff;
}

.information {
    padding: 10px;
    display: grid;
    
}


.class-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}



.class-title-p {
    color:#2e8cff;
    font-weight: bold;
    letter-spacing: 1.5px;

}
.class-department {
    color:#2e8cff;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.class-description {
    color:#2e8cff;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.class-info-p {
    padding-top: 5px;
    padding-bottom: 5px;
    word-spacing: 2px;
}
