@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    letter-spacing: 2px;
    border-radius: 30px 30px 0 0;
    margin: 0;
    padding: 30px;
    /* background: #0F2027;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: linear-gradient(-45deg, #00c6ff, #0072ff, #00c6ff, #0072ff);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 5vh;
    cursor: default;
    font-family: montserrat;
    text-align: center;
    
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form {
    padding: 20px;
    text-align: center;
}


.classes-container {
    width: 100%;
    background-color: #272727;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.classes-container>* {
    flex: 0 0 30%
}

.fav-classes {
    color: white;
    
}

.btn {
    font-family: montserrat;
    background-color: #FFE53B;
    background-image: linear-gradient(-45deg, #00c6ff, #0072ff, #00c6ff, #0072ff);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 12px;
    outline: none;
    border: none;
    border-radius: 2px 4px 4px 2px;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1.5px;
    background-size: 400% 400%;
	animation: btn-gradient 10s ease infinite;
	height: 5vh;
    
}

@keyframes btn-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.btn:hover {
    
    transform: scale(0.98);
}

.add-fav {
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}

.class-input {
    margin-top: 15px;
    padding: 14px 32px 14px 16px;
    border-radius: 10px 2px 2px 10px;
    border: 2px solid #00c6ff;
    outline: none;
    width: 200px;
    background-color: #272727;
    color: #fff;
}

.class-input:hover {
    border: 2px solid black;
}

