@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {  
  /* text-align: center;
  max-height: 100%; */
  font-family: Montserrat;
  width: 75%;
  min-height: 800px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #303841 0%, #11151a 74%);;
  
  /* text-align: center; */
  margin: 50px auto;
  border-radius: 30px 30px 50px 50px;
  padding-bottom: 32px;
  background-size: 400% 400%;
	animation: bg-gradient 15s ease infinite;
	height: 5vh;
    
}

@keyframes bg-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}